QWidget {
	background-color: #27374D;
}

QTableWidget {
	background-color: #526D82;
	color: #DDE6ED;
	border: 2px solid #9DB2BF;
	border-radius: 15px;
	padding: 10px;
}

QTableWidget::item:selected {
	background-color: transparent;
	color: #9DB2BF;
	border: none
}

QHeaderView::section {
	background-color: #526D82;
	color: #DDE6ED;
	border: none;
	padding: 5px;
	font-weight: bold;
}

QPushButton {
	background-color: #526D82;
	color: #DDE6ED;
	border: 2px solid #9DB2BF;
	border-radius: 15px;
	padding: 10px;
	font-size : 24px
}